extends layout

block content
  main
    ul.messages

    input.message__input(type='text', name='message', placeholder='Enter your message...')
    input.message__button(type='button', name='message-send', value='Send')
